<% content_for :page_title, @post.tytuł %>

<section class="section">
	<div class="container">
		<nav class="level">	  
		  <div class="level-left">
		  	<p class="level-item">
		    	<%= link_to "Edytuj post", edit_post_path(@post), class:"button is-info" %>
		  	</p>
		  	<p class="level-item">
				<%= link_to "Usuń post", post_path(@post), method: :delete, data: { confirm: "Na pewno chcesz usunąć ten post?" }, class:"button is-danger" %>
				</p>
		  </div>
		</nav>
		<hr/>

		<div class="content">
		<strong> Treść: </strong><%= @post.tekst %>
		</div>
	</div>
</section>

<section class="section comments">
    <div class="container">
        <h2 class="subtitle is-5">
            <strong><%= @post.comments.count %></strong> Komentarze:
			<hr>
            <%= render @post.comments %>
            <div class="comment-form">
                <hr />
                <h3 class="subtitle is-3">
                    Zostaw komentarz:
                    <%= render 'comments/form' %>
                </h3>
            </div>
        </h2>
    </div>
</section>